*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 1140px;
  height: 534px;
  column-gap: 30px;
}

.result {
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
  align-items: start;
  column-gap: 40px;
}

.content__list-container {
  height: 534px;
  overflow-y: scroll;
  display: grid;
  row-gap: 30px;
  padding-bottom: 0;
  position: relative;
}

.content__list {
  display: grid;
  row-gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  max-width: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  color: white;
  line-clamp: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  padding: 1px;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 16px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  appearance: none;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  width: 225px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  align-self: flex-end;
  height: 34px;
  background-color: transparent;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link {
  cursor: pointer;
}

.content__card-link:active {
  display: block;
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
